.padding-dialog1c {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
  }

  .loc-text {
    margin-top: 10px;
    float: right;
    padding-right: 10%;
  }

  .margin-top-14 {
    margin-top: -14px;
  }