<mat-sidenav-container>

  <mat-sidenav #sidenav class="sidenav">
    <side-menus (click)="sidenav.close()"></side-menus>
  </mat-sidenav>

  <top-toolbar [SIDENAV]="sidenav" ></top-toolbar>
  <!-- ss #########################################################-->

  <mat-card class="margin-3">

    <mat-toolbar color="primary" class="margin-bottom-15">
      Change Your Password
    </mat-toolbar>

    <div class="card-body">

      <form [formGroup]="setPasswordForm" (submit)="setPassword()">

        <mat-form-field class="input-width-95">
          <input
              matInput
              formControlName="password"
              dividerColor="primary"
              type="password"
              maxlength="40"
              required
              placeholder="Enter new password"
              (blur)="passwordValidator(setPasswordForm.value.password) == true ? passwordIsInvalid = false : passwordIsInvalid= true" >
        </mat-form-field>
        <div *ngIf="passwordIsInvalid" class="alert-danger">Password must contain at least six characters</div>

        <br />
        <br />


        <mat-form-field class="input-width-95">
          <input
              matInput
              formControlName="confirmPassword"
              dividerColor="primary"
              type="password"
              maxlength="40"
              required
              placeholder="Re-enter new password"
              (keyup)="passwordMatchCheck(setPasswordForm.value.confirmPassword) == true ? passwordMatch = false : passwordMatch= true" >
        </mat-form-field>
        <div *ngIf="passwordMatch" class="alert-danger">Password must match</div>

        <br />
        <br />


        <button type="submit" mat-raised-button color="primary">Reset</button>

        <span *ngIf="display_spinner" class="go-right">
          <mat-spinner></mat-spinner>
        </span>

        <a mat-button [routerLink]="['/landing']" >Back</a>

      </form>


      <div *ngIf="error" class="center-stuff">
        <p class="font-18b alert-danger">{{ error }}</p>
      </div>

    </div>

  </mat-card>

  <!-- ss #########################################################-->
</mat-sidenav-container>


